In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a':[1,2,3,4,5], 'b':list('abcde'),'c':[45,46,47,48,49]})
df

   a  b   c
0  1  a  45
1  2  b  46
2  3  c  47
3  4  d  48
4  5  e  49

In [5]:
df.ix[:,0]

0    1
1    2
2    3
3    4
4    5
Name: a, dtype: int64

In [6]:
df1 = df.T
df1

    0   1   2   3   4
a   1   2   3   4   5
b   a   b   c   d   e
c  45  46  47  48  49

In [7]:
?pd.pivot

In [8]:
df1['app'] = 'app'

In [10]:
df1.stack()

a  0        1
   1        2
   2        3
   3        4
   4        5
   app    app
b  0        a
   1        b
   2        c
   3        d
   4        e
   app    app
c  0       45
   1       46
   2       47
   3       48
   4       49
   app    app
dtype: object